.email-verification-handler-container {
  display: flex;
  flex-direction: column;
  /* Vertically align elements */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.alert {
  width: 300px;
  /* Adjust as needed */
  text-align: center;
  /* Center align text */
}

.email-verification-page h1 {
  margin-bottom: 20px;
  /* Add spacing between h1 and alert box */
}
