.home-container {
  display: block;
  text-align: center;
  /* Align content in the center horizontally */
  margin: auto;
  /* Center content vertically */
  height: 100vh;
}

.profile-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.welcome-message {
  font-size: 18px;
  margin-bottom: 20px;
}

.logout-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d32f2f;
  }
}

.keywords {
  width: 100%;
  /* Set the width to 100% to take up the entire available space */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keywords-header-container {
  width: 100%;
  /* Set the width to 100% to take up the entire available space */
  display: block;
  justify-content: space-between;
  /* Push the children to opposite ends */
  align-items: center;
  margin-bottom: 20px;
}

.keywords-header {
  margin-right: auto;
  /* Push the header to the left */
}

.csv-buttons {
  margin-left: auto;
  /* Push the CSV buttons to the right */
}

.keywords table {
  width: 100%;
  /* Set the width to 100% to take up the entire available space */
  max-width: 100%;
  /* Set maximum width to avoid stretching */
}

.keywords h4::after {
  content: "Only unique records are shown";
  display: block;
  font-size: 14px;
  color: #9e9191;
  /* Adjust color as needed */
}
