.home-container {
  display: block;
  text-align: center;
  margin: auto;
  height: 100vh;
}

.profile-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.welcome-message {
  font-size: 18px;
  margin-bottom: 20px;
}

.logout-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d32f2f;
  }
}

.keywords {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keywords-header-container {
  width: 100%;
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.keywords-header {
  margin-right: auto;
}

.csv-buttons {
  margin-left: auto;
}

.keywords table {
  width: 100%;
  max-width: 100%;
}

.keywords-top h4::after {
  content: "Only unique records are shown";
  display: block;
  font-size: 14px;
  color: #9e9191;
}

.keywords-top .search-box {
  width: 42%;
  margin: 0 auto;
}
